<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css?v={{ file_hash }}" />
    <link rel="stylesheet" type="text/css" href="/static/css/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/js/lib/normalize/normalize.css?v={{ file_hash }}" />
    {% block local_css %}
    {% endblock %}
</head>
<body>
    <div class="top-nav">
{#            <div class="avator">#}
{#                <a href="/login">登录</a>#}
{#            </div>#}
        {% if is_login %}
{#            avatar-lg#}
            <div style="position: relative;" class="avatar-container">
                <div class="avatar "><span>{{ name_abbr }}</span></div>
                <div class="user-info">
{#                    用户名: {{ session['user']['real_name'] }}#}
                    <div><button class="btn logout-btn" style="display: inline-block;" style="font-size:small;">退出</button></div>
                </div>
            </div>
        {% else %}
            <div class="avatar" onclick="window.location.href='/login'"><span>登录</span></div>
        {% endif %}
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/article/list">文章列表</a></li>
            <li><a href="/tool/list">常用工具</a></li>
        </ul>
{#        <div><a href="/login">登录</a></div>#}
        <div class="search">
            <input type="text">
            <button class="btn"><i class="fa fa-search"></i></button>
        </div>
        <div>

        </div>
    </div>
    <div class="main">
        {% block main %}
            <div class="left">
                {% block left %}
                {%endblock%}
            </div>
            <div class="right">
                {% block right %}
                {%endblock%}
            </div>
        {% endblock %}
    </div>
    {% block footer %}
{#        <div class="footer">#}
{#            &copy; Copyright 2016<a href=""></a>#}
{#        </div>#}
    {% endblock %}
</body>
    <script src="/static/js/global.js"></script>
    <script src="/static/js/lib/jquery-3.1.1.min.js"></script>
    <script>
        $('.logout-btn').click(function () {
           $.ajax({
            type: 'post',
            url: '/api/logout',
            data: JSON.stringify({
            }),
            contentType: "application/json; charset=utf-8",
            "dataType" : "json",
            success: function(response) {
                if(response.status == 'OK') {
                    window.location.reload();
                }
                else {
                }
            }
        });
        });
    </script>
    {% block local_script %}
    {% endblock %}
</html>